ML Bootcamp 2021 - Week 3: Assignment

- In this week you will learn more about the Pandas and specifically use it to create features
- Finally these features will be used to train a Logistic Regression model and you will submit your solution to the Kaggle ****Titanic Machine Learning from Disaster**** competition
- The comments will have most of the instructions
- Attempt the questions using only python/pandas as much as possible as it is a very in-demand skill right now and learning it will be beneficial

## USE TRAIN DATASET FROM THE TITANIC DATASET PROVIDED ONLY UNLESS SPECIFIED

In [ ]:
# Import the necessary Libraries here
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from collections import Counter
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
!pip install category_encoders

import category_encoders as ce

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 5.2MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Q1. What is the average ticket price per ticket class(Pclass) for each individual port of embarkation? In other words, what is the price of each ticket class for each category of "Embarked" column?

## Your answer should be in the following format as a Python Dictionary

{<br>
  (Pclass,Embarked Category) : Avg Fare<br>
}

Eg:

{<br>
 (1, 'C'): Avg Fare,<br>
 (1, 'Q'): Avg Fare,<br>
 (1, 'S'): Avg Fare,<br>
 .<br>
 .<br>
 .<br>
 so on..<br>
}


## You can verify your answer as follows: 
 - For the "Embarked" category 'Q' and 'Pclass' of 1 the average ticket price is \$ 90
 - For the "Embarked" category 'S' and 'Pclass' of 3 the average ticket price is \$ 14.64

In [ ]:
df = pd.read_csv("./train.csv")

# arr = df['Embarked'].value_counts().index.tolist()

# print(arr)



# embCount = []
# pClass = []

# dicts = {}

# for idx, i in enumerate(arr):
#   embCount.append(df['Embarked'] == i)
#   pClass.append(df['Pclass'] == idx + 1)
#   print(idx + 1)


# for idx, pCl in enumerate(arr):
#     for idx2, eCl in enumerate(arr):
#         dicts[idx + 1, arr[idx2]] = round(df[embCount[idx2]][pClass[idx]]['Fare'].mean(), 2) 

# {
#     (1, 'S'): 70.36, 
#     (1, 'C'): 104.72, 
#     (1, 'Q'): 90.0, 
#     (2, 'S'): 20.33, 
#     (2, 'C'): 25.36, 
#     (2, 'Q'): 12.35, 
#     (3, 'S'): 14.64, 
#     (3, 'C'): 11.21, 
#     (3, 'Q'): 11.18
# }

## Q2. Create the "Title" feature in your dataset as an additional column and call it "Title". This "Title" will be extracted from the name and will be the Title given to each name which can be "Mr.", "Mrs.", "Dr." and many more. Refer to the last question of Week 1 Assignment for reference

- Only create the extra column called "Title" in your existing dataframe, no need to report any answer as you will be using all these features in the next few questions

In [ ]:
# Try to use regular expressions and use the pandas .apply() lambda function to solve 
# this as these are very powerful functions that will benefit you if learned now
df['Titles'] = df['Name'].apply(lambda x:re.findall('[A-Za-z]+\.', x)[0])

## Q3. Use the dataframe from above, which should include the "Title" column now, if you have successfully completed Q2. Encode this "Title" column using any encoding technique of your choice. Explore the various encoding techniques by reading this article:

https://www.kdnuggets.com/2021/05/deal-with-categorical-data-machine-learning.html


- As a start you can use any of the following techniques but there are many more
  - pandas get_dummies()
  - One hot encoding
  - Label encoding
- Explore each of the above techniques as you will learn a lot just by reading them

In [ ]:
pd.get_dummies(df['Titles']).value_counts()

Capt.  Col.  Countess.  Don.  Dr.  Jonkheer.  Lady.  Major.  Master.  Miss.  Mlle.  Mme.  Mr.  Mrs.  Ms.  Rev.  Sir.
0      0     0          0     0    0          0      0       0        0      0      0     1    0     0    0     0       517
                                                                      1      0      0     0    0     0    0     0       182
                                                                      0      0      0     0    1     0    0     0       125
                                                             1        0      0      0     0    0     0    0     0        40
                              1    0          0      0       0        0      0      0     0    0     0    0     0         7
                              0    0          0      0       0        0      0      0     0    0     0    1     0         6
                                                     1       0        0      0      0     0    0     0    0     0         2
       1     0          0     0    0          0      0       0        0      0      0     0    0     0    0     0         2
       0     0          0     0    0          0      0       0        0      1      0     0    0     0    0     0         2
                                                                             0      1     0    0     0    0     0         1
                                                                                    0     0    0     1    0     0         1
1      0     0          0     0    0          0      0       0        0      0      0     0    0     0    0     0         1
0      0     0          0     0    0          1      0       0        0      0      0     0    0     0    0     0         1
                                   1          0      0       0        0      0      0     0    0     0    0     0         1
                        1     0    0          0      0       0        0      0      0     0    0     0    0     0         1
             1          0     0    0          0      0       0        0      0      0     0    0     0    0     0         1
             0          0     0    0          0      0       0        0      0      0     0    0     0    0     1         1
dtype: int64

## Q4. This is an open ended Optional question. Explore the data as we have done for Week 3 class and create a new feature of your own. Add it as a new column to the dataframe. 

- This feature might help you get a good score for your Kaggle submission

In [ ]:
# Follow the same process as the previous class notebooks on creating new columns. 
# This feature can be as simple as combining two columns by multiplying/dividing them with each other
# Feel free to have a discussion in the group as this is a tricky Feature Engineering problem and might not be straightforward, hence optional.

df['Fam_Size'] = df['SibSp'] + df['Parch'] + 1
family_map = {1: 'Sin', 2: 'Min', 3: 'Min', 4: 'Med', 5: 'Med', 6: 'Med', 7: 'Big', 8: 'Big', 11: 'Big'}
df['Group_size'] = df['Fam_Size'].map(family_map)
df['Married'] = df['Titles'].apply(lambda x: 1 if x == "Mrs." else 0)

print(df.head())

   PassengerId  Survived  Pclass  ... Fam_Size Group_size  Married
0            1         0       3  ...        2        Min        0
1            2         1       1  ...        2        Min        1
2            3         1       3  ...        1        Sin        0
3            4         1       1  ...        2        Min        1
4            5         0       3  ...        1        Sin        0

[5 rows x 16 columns]

In [ ]:
df['Fam_Size'] = df['SibSp'] + df['Parch'] + 1


family_map = {1: 'Sin', 2: 'Min', 3: 'Min', 4: 'Med', 5: 'Med', 6: 'Med', 7: 'Big', 8: 'Big', 11: 'Big'}
df['Group_size'] = df['Fam_Size'].map(family_map)

print(df.head())

   PassengerId  Survived  Pclass  ... Fam_Size Group_size  Married
0            1         0       3  ...        2        Min        0
1            2         1       1  ...        2        Min        1
2            3         1       3  ...        1        Sin        0
3            4         1       1  ...        2        Min        1
4            5         0       3  ...        1        Sin        0

[5 rows x 16 columns]

In [ ]:
ce_OHE = ce.OneHotEncoder(cols=['Group_size'])

df = ce_OHE.fit_transform(df)
df.head()

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   PassengerId  Survived  Pclass  ... Group_size_3 Group_size_4  Married
0            1         0       3  ...            0            0        0
1            2         1       1  ...            0            0        1
2            3         1       3  ...            0            0        0
3            4         1       1  ...            0            0        1
4            5         0       3  ...            0            0        0

[5 rows x 19 columns]

## Q5. Create a LogisticRegression model as done in class. Use the dataset you have developed after answering all the previous questions(make sure all the data is only numerical). Train your model on the "train.csv" file, and then make predictions on your "test.csv" file. Format your output EXACTLY as shown in class at the very end and EXACTLY like the "gender_submission.csv" file provided as part of the challenge

- Once you have created your own submission file, submit it on Kaggle for evaluation
- Report the score as obtained from the kaggle website here and store it in a variable called ```result```

In [ ]:
#data normalization
df.fillna(method="backfill",inplace=True)
df[['female','male']] = pd.get_dummies(df['Sex'])
df['Age_Normalized'] = MinMaxScaler().fit_transform(np.array(df['Age']).reshape(-1, 1))
df['Fare_Normalized'] = MinMaxScaler().fit_transform(np.array(df['Fare']).reshape(-1, 1))
df['Fare_Normalized'] = MinMaxScaler().fit_transform(np.array(df['Fare']).reshape(-1, 1))
df['Pclass_Normalized'] = MinMaxScaler().fit_transform(np.array(df['Pclass']).reshape(-1, 1))

In [ ]:
df_train = df

In [ ]:
df_train.head()

   PassengerId  Survived  ...  Fare_Normalized Pclass_Normalized
0            1         0  ...         0.014151               1.0
1            2         1  ...         0.139136               0.0
2            3         1  ...         0.015469               1.0
3            4         1  ...         0.103644               0.0
4            5         0  ...         0.015713               1.0

[5 rows x 24 columns]

In [ ]:
drop_feat = ['PassengerId', 'Titles', 'Sex', 'Cabin', 'Embarked', 'Name', 'Fam_Size', 'Fare', 'SibSp', 'Parch', 'Age', 'Ticket', 'Pclass']
df_train.drop(drop_feat, axis=1, inplace=True)

In [ ]:
df_train.head()

   Survived  Group_size_1  ...  Fare_Normalized  Pclass_Normalized
0         0             1  ...         0.014151                1.0
1         1             1  ...         0.139136                0.0
2         1             0  ...         0.015469                1.0
3         1             1  ...         0.103644                0.0
4         0             0  ...         0.015713                1.0

[5 rows x 11 columns]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df.loc[:, 'Group_size_1':] , df.Survived)
model = LogisticRegression()
model.fit(x_train, y_train)

y_predict = model.predict(x_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.81      0.90      0.85       146
           1       0.76      0.61      0.68        77

    accuracy                           0.80       223
   macro avg       0.79      0.75      0.76       223
weighted avg       0.79      0.80      0.79       223

In [ ]:
df_test = pd.read_csv("./test.csv")
df_test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
df_test['Fam_Size'] = df_test['SibSp'] + df_test['Parch'] + 1
family_map = {1: 'Sin', 2: 'Min', 3: 'Min', 4: 'Med', 5: 'Med', 6: 'Med', 7: 'Big', 8: 'Big', 11: 'Big'}
df_test['Group_size'] = df_test['Fam_Size'].map(family_map)

df_test['Titles'] = df_test['Name'].apply(lambda x:re.findall('[A-Za-z]+\.', x)[0])
df_test['Married'] = df_test['Titles'].apply(lambda x: 1 if x == "Mrs." else 0)

ce_OHE = ce.OneHotEncoder(cols=['Group_size'])

df_test = ce_OHE.fit_transform(df_test)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
df_test.fillna(method="ffill",inplace=True)
df_test[['female','male']] = pd.get_dummies(df_test['Sex'])
df_test['Age_Normalized'] = MinMaxScaler().fit_transform(np.array(df_test['Age']).reshape(-1, 1))
df_test['Fare_Normalized'] = MinMaxScaler().fit_transform(np.array(df_test['Fare']).reshape(-1, 1))
df_test['Fare_Normalized'] = MinMaxScaler().fit_transform(np.array(df_test['Fare']).reshape(-1, 1))
df_test['Pclass_Normalized'] = MinMaxScaler().fit_transform(np.array(df_test['Pclass']).reshape(-1, 1))

In [ ]:
drop_feat = ['Titles', 'Sex', 'Cabin', 'Embarked', 'Name', 'Fam_Size', 'Fare', 'SibSp', 'Parch', 'Age', 'Ticket', 'Pclass']
df_test.drop(drop_feat, axis=1, inplace=True)

In [ ]:
list(df_test.columns)

['PassengerId',
 'Group_size_1',
 'Group_size_2',
 'Group_size_3',
 'Group_size_4',
 'Married',
 'female',
 'male',
 'Age_Normalized',
 'Fare_Normalized',
 'Pclass_Normalized']

In [ ]:
list(df_train.columns)

['Survived',
 'Group_size_1',
 'Group_size_2',
 'Group_size_3',
 'Group_size_4',
 'Married',
 'female',
 'male',
 'Age_Normalized',
 'Fare_Normalized',
 'Pclass_Normalized']

In [ ]:
submission_prediction = model.predict(df_test.loc[:, 'Group_size_1':])

In [ ]:
df_submission = df_test[['PassengerId']].copy()

In [ ]:
df_submission['Survived'] = submission_prediction

In [ ]:
df_submission.to_csv("submission_v1.csv", index = False)